
<div class="container-login">
    <div class="wrap-login post-page">
        <h1 class=subtitles-login-page>Apply To This Job</h1>

        <%= form_with(model: @job_app, url: applicants_user_job_applications_path,
            class: "subheading-subtitles-posting") do |f| %>

        
        
        <%= f.label :user_id %>
        <%= f.number_field :user_id, class: "form-control" %>
        <br />

        <%= f.label :job_id %>
        <%= f.number_field :job_id, class: "form-control" %>
        <br />





        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                    <%# <button class="login100-form-btn"> %>
                    <%= f.submit "Submit", class: 'login100-form-btn' %>
                    <%# </button> %>
                </div>
            </div>

        </div>
    </div>
</div>
<% end %>