
<div class='top-section'>
    <%= react_component "NavigationHome", { isSignedIn: current_user } %>
    </div>
        <header class="inner-page-headers"><h1>Job Favorites</h1>
    <hr>
    </header>
<hr />
<% if @user_favorites.exists? %>
<div class="bg-white rounded shadow table-responsive" style="width: 90vw;">
    <table class="table">
        <thead>
            <tr>
                <th class="p-3 uppercase text-left text-xs text-gray-500 chart-color">Company</th>
                <th class="p-3 uppercase text-left text-xs text-gray-500 chart-color">position</th>
                <th class="p-3 uppercase text-left text-xs text-gray-500 chart-color">description</th>
                <th class="p-3 uppercase text-left text-xs text-gray-500 chart-color">date</th>
                <th class="p-3 uppercase text-left text-xs text-gray-500 chart-color">Address</th>
                <th class="p-3 uppercase text-left text-xs text-gray-500 chart-color">Skills</th>
                <th class="p-3 uppercase text-left text-xs text-gray-500 chart-color">Employer</th>
                <th class="p-3 uppercase text-left text-xs text-gray-500 chart-color w-20">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @user_favorites.each do |user_favorite| %>
            <tr class="group border-t border-gray-400 hover:bg-gray-100">
                <td class="p-3"><%= user_favorite.job.company_name %></td>
                <td class="p-3"><%= user_favorite.job.position %></td>
                <td class="p-3"><%= user_favorite.job.description %></td>
                <td class="p-3"><%= user_favorite.job.created_at %></td>
                <td class="p-3"><%= Geocoder.search([user_favorite.job.latitude,user_favorite.job.longitude]).first.address %></td>
                <td class="p-3"><%= user_favorite.job.skill_names %></td>
                <td class="p-3"><%= user_favorite.job.user.email %></td>
                <td>
                
                <%= link_to "Apply Now", "/applicants/users/#{current_user.id}/#{user_favorite.job.id}/job_applications/new",
                class: "btn btn-link no-underline", data: { confirm: "Are you sure?" } %>

                <%= link_to "Delete", "/applicants/users/#{user_favorite.user.id}/favorites?jobId=#{user_favorite.job.id}",
                class: "btn btn-link no-underline", method: :delete, data: { confirm: "Are you sure?" } %>
                
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>
</div>