<a href="/applicants/users" class="btn btn-md u-btn-primary g-mr-10 g-mb-15">Job Favorites</a>
<hr />
<% if @user_favorites.exists? %>
<div class="bg-white rounded shadow table-responsive" style="width: 90vw;">
    <table class="table">
        <thead>
            <tr>
                <th class="p-3 uppercase text-left text-xs text-gray-700">Company</th>
                <th class="p-3 uppercase text-left text-xs text-gray-700">position</th>
                <th class="p-3 uppercase text-left text-xs text-gray-700">description</th>
                <th class="p-3 uppercase text-left text-xs text-gray-700">date</th>
                <th class="p-3 uppercase text-left text-xs text-gray-700">Address</th>
                <th class="p-3 uppercase text-left text-xs text-gray-700">Skills</th>
                <th class="p-3 uppercase text-left text-xs text-gray-700">Employer</th>
                <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @user_favorites.each do |user_favorite| %>
            <tr class="group border-t border-gray-400 hover:bg-gray-100">
                <td class="p-3"><%= user_favorite.job.company_name %></td>
                <td class="p-3"><%= user_favorite.job.position %></td>
                <td class="p-3"><%= user_favorite.job.description %></td>
                <td class="p-3"><%= user_favorite.job.created_at %></td>
                <td class="p-3"><%= Geocoder.search([user_favorite.job.latitude,user_favorite.job.longitude]).first.address %></td>
                <td class="p-3"><%= user_favorite.job.skill_names %></td>
                <td class="p-3"><%= user_favorite.job.user.email %></td>
                <td>



                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>
</div>